.modal {
    background: darkgray;
    color: black;
    font-size: 40px;
  };

  .modal > .header {
  background-color: wheat;
  font-size: 20px;
  width: 100px;
  height: 100px;
  border: 1px solid red;
}