/* .ant-card-body{
    padding: 0px;
    border:2px solid red
}

.ant-col{
    height:350px;
    max-width:300px;
    border:2px solid red
}

.ant-row{
    margin-right: 0px;
    border:2px solid red
}


.ant-card-body{
    height:100px;
    border:2px solid red
}

.ant-card-meta-title {
    font-size: 23px;
    color:#f7f7f7;
    border:2px solid red
}

.ant-card-meta-description {
    color: #f7f7f7;
    border:2px solid red
}
 */
